body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: black;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-upperscale {
  text-transform: uppercase;
}

.btn {
  padding: 15px 25px;
  margin-right: 5px;
  border: 2px solid black;
  font-size: 21px;
}
.btn.btn-black {
  background-color: black;
  color: white;
}
.btn.btn-transp {
  background-color: rgba(0, 0, 0, 0);
}

.text-black {
  color: black;
}

img {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

i {
  margin: 0 5px;
}

.mx-10 {
  margin: 0 10px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar .painter-logo img {
  width: 90px;
}
.navbar .list-dropdown ul {
  display: flex;
}
.navbar .list-dropdown ul li {
  margin: 0 25px;
  font-size: 13px;
}
.navbar .list-dropdown ul li i {
  color: #999;
}

header .top-navbar {
  display: flex;
  justify-content: flex-end;
  color: #009cff;
  padding: 10px 0;
}
header .top-navbar span {
  color: #999;
  font-size: 12px;
  vertical-align: middle;
}
header .top-navbar span i {
  color: #009cff;
}
header .jumbotron {
  background-image: url("../img/bg-painter-home.jpg");
  background-size: cover;
}
header .jumbotron .logo-2021 img {
  width: 220px;
}
header .jumbotron .pink-text {
  color: #c70cb9;
  font-style: italic;
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar .painter-logo img {
  width: 90px;
}
.navbar .list-dropdown ul {
  display: flex;
}
.navbar .list-dropdown ul li {
  margin: 0 25px;
  font-size: 13px;
}
.navbar .list-dropdown ul li i {
  color: #999;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
