body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: black;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

i {
  margin: 0 5px;
}

.mx-10 {
  margin: 0 10px;
}

.py-15 {
  padding: 15px 0;
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar .painter-logo img {
  width: 90px;
}
.navbar .list-dropdown ul {
  display: flex;
}
.navbar .list-dropdown ul li {
  margin: 0 25px;
  font-size: 13px;
}
.navbar .list-dropdown ul li i {
  color: #999;
}

header .top-navbar {
  display: flex;
  justify-content: flex-end;
  color: #009cff;
  padding: 10px 0;
}
header .top-navbar span {
  color: #999;
  font-size: 12px;
  vertical-align: middle;
}
header .top-navbar span i {
  color: #009cff;
}
header .jumbotron {
  background-image: url("../img/bg-painter-home.jpg");
  background-size: cover;
  height: 68vh;
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar .painter-logo img {
  width: 90px;
}
.navbar .list-dropdown ul {
  display: flex;
}
.navbar .list-dropdown ul li {
  margin: 0 25px;
  font-size: 13px;
}
.navbar .list-dropdown ul li i {
  color: #999;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
