@import '_navbar.scss';

header {
  .top-navbar {
    display: flex;
    justify-content: flex-end;
    color: $icon;
    padding: 10px 0;
    span {
      color: $text_grey;
      font-size: 12px;
      vertical-align: middle;
      i {
        color: $icon;
      }
    }
  }
  .jumbotron {
    background-image: url("../img/bg-painter-home.jpg");
    background-size: cover;
    // height: 68vh;
    .logo-2021 {
      img {
        width: 220px;
      }
    }
    .pink-text {
      color: $text_pink;
      font-style: italic;
    }


  }
}
